language: python
dist: xenial
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - pypy2.7-6.0.0
  - pypy3.5-6.0.0
script:
  - coverage run -m zope.testrunner --test-path=src  --auto-color --auto-progress

after_success:
  - coveralls
notifications:
  email: false

install:
  - pip install -U pip setuptools
  - pip install -U coveralls coverage zope.testrunner
  - pip install -U -e ".[test]"


cache: pip

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
