[buildout]
develop = .
parts = interpreter test

find-links = http://download.zope.org/distribution/

[interpreter]
recipe = zc.recipe.egg
interpreter = py
eggs = zope.i18nmessageid

[test]
recipe = zc.recipe.testrunner
eggs = zope.i18nmessageid
